<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dota2 Cog</title>
</head>
<body>
  <div id="content"></div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    fetch("/index.md", {method: "GET"})
      .then(response => response.text())
      .then(markdown => {
        console.log(markdown);
        document.getElementById("content").innerHTML = marked(markdown)
      });
  </script>
</body>
</html>